<gui>
  <!-- 3D viewport -->
  <plugin filename="MinimalScene" name="3D View">
    <engine>ogre2</engine>
    <scene>
      <camera>
        <far_clip>10000</far_clip>
      </camera>
    </scene>
  </plugin>

  <!-- Grid overlay -->
  <plugin filename="Grid" name="Grid">
    <cell_count>500</cell_count>
    <cell_length>1</cell_length>
  </plugin>
</gui>
