<?xml version="1.0"?>
<model>
  <name>person</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Mobile Robot Project</name>
    <email>noreply@example.com</email>
  </author>

  <description>
    Static human mesh model used as obstacle in simulation.
  </description>
</model>